################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/水星工程_BackendExamHub/FileContentIndex
/.vs/水星工程_BackendExamHub/v17
/obj
/.vs/BackendExamHub/FileContentIndex
/bin/Debug/net8.0
